{% extends "base.html" %}
{% block title %}moves.husk.org. internal server error.{% endblock %}
{% block head %}
  <link href="/static/collected.css" media="screen" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div id="content">
    <h2>500 server error</h2>

    <div id="blurb">
{% if type == "moves" %}
        <p>There was a problem with Moves. They said: '{{ error }}'.<br>
{% else %}
        <p>There was an error: {{ error }}<br>
{% endif %}
            Go <a href="/">home</a>.</p>
    </div>
  </div>
{% endblock %}
