{% extends "base.html" %}
{% block title %}moves.husk.org. hello.{% endblock %}
{% block content %}
  <div id="content">
    <h2>You need to <a href="/auth">authenticate with Moves</a> to use this site.</h2>

    <div id="blurb" style="margin-top:16px; width: 500px; color: #666;">
      <p>This site enables you to export date from the <a href="http://moves-app.com/">Moves</a> 
         activity tracker as GeoJSON files, as well as displaying maps.</p>
        
      <p>- Paul Mison (<a href="https://www.twitter.com/blech">@blech</a>). 
           View <a href="https://github.com/blech/moves-geojson/">source</a> on github.</p>
    </div>
  </div>
{% endblock %}