<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />

  <title>{% block title %}{% endblock %}</title>
  <link href="/static/collected.css" media="screen" type="text/css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

  <meta name="author" content="Paul Mison" />
  <meta name="description" content="Paul Mison, elsewhere." />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=640">

  <style type="text/css">
    body { height: 100%; }
    div#blurb { margin-top: 16px; color: #666; }
    ul { width: 100%; min-height: 200px; font-size: 1.25em; line-height: 1.4em; }
    ul li { float: left; width: 10em; list-style-type: none; }
    a { color: #36f; }
    a:hover { color: #fff; background: #36f; }
    ul li a { color: #364e85; }
    .logout { color: #999; }
    .clear { clear: both; padding-top: 16px;}
{% block style %}{% endblock %}
  </style>

</head>
<body>

<div id="wrap">
  <div class="header">
    <h1><a href="/">moves.husk.org</a>. <span class="sub">some utilities for moves users.</span></h1>
  </div>
    
  {% block content %}
  {% endblock %}
</div>

{% block script %}
{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5271055-9', 'husk.org');
  ga('send', 'pageview');

</script>

</body>
</html>
