{% extends "base.html" %}
{% block title %}moves.husk.org. days.{% endblock %}
{% block style %}
    h1 { background-image: url(/static/whitebg50pc.png); padding: 10px; opacity: 1; display: inline; position: relative; left: -10px; }
{% endblock %}
{% block content %}    
  <div id="content">

    <p>Hi. You've been using Moves for {{ days|count }} days. (Click on a date to see a map.)</p>
    
    <table>{% for day in days %}
        <tr>
            <td><a href="/map/{{ day.strftime('%Y-%m-%d') }}" class="big" title="{{ day.strftime('%A') }}">{{ day.strftime('%e %B %Y') }}</a></td>
            <td><a href="/geojson/{{ day.strftime('%Y-%m-%d') }}">download GeoJSON</a></li></td>
    {% endfor %}</table>

  </div>
{% endblock %}
